on init
    # Permissions for MDNIE
    chown system system /sys/class/mdnie/mdnie/mode
    chmod 0660 /sys/class/mdnie/mdnie/mode
    chown system system /sys/class/mdnie/mdnie/scenario
    chmod 0660 /sys/class/mdnie/mdnie/scenario
    chown system system /sys/class/mdnie/mdnie/accessibility
    chmod 0660 /sys/class/mdnie/mdnie/accessibility
    chown system system /sys/class/mdnie/mdnie/auto_brightness
    chmod 0660 /sys/class/mdnie/mdnie/auto_brightness
    chown system system /sys/class/mdnie/mdnie/sensorRGB
    chmod 0660 /sys/class/mdnie/mdnie/sensorRGB
    chown system system /sys/class/mdnie/mdnie/lux
    chmod 0660 /sys/class/mdnie/mdnie/lux

on post-fs-data
    mkdir /data/vendor/display 0770 system system

service vendor.livedisplay-hal-2-0-samsung-universal5433 /vendor/bin/hw/vendor.lineage.livedisplay@2.0-service.samsung-universal5433
    class hal
    user system
    group system
